{% extends "layout.html" %}
{% block listage %}



<!-- films variable used in parameters of the render_template-->
{% for film in films %}                                                             
    <td><strong class="d-block text-gray-dark">@ {{ film['author'] }}</strong></td>
    <td> {{ film['movie_title'] }}</td>
    <td> {{ film['rating'] }} </td>
    <td>
        <form action="/delete_movie" method="get">
            <input name="id" type="hidden" value="{{ film['id'] }}">
            <button type="submit" class="btn btn-outline-primary"> delete </button>
        </form>
    </td>
</tr>

{% endfor %}


{% endblock %}